* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: rgb(49, 49, 49);
}

h2 {
	color: white;
	font-weight: normal;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

div {
	padding: 1rem;
	margin-bottom: 1rem;
}

li {
	display: flex;
	padding: 0.5rem;
	justify-content: space-between;
	align-items: center;
	color: rgb(190, 190, 190);
	font-weight: bold;
	font-size: 1.2rem;
	max-width: 600px;
	margin: 0 auto;
}

button {
	cursor: pointer;
	padding: 0.5rem 1rem;
	color: white;
	background-color: rgb(33, 160, 147);
	border: 0;
}

.App {
	text-align: center;
}

p {
	color: rgb(190, 190, 190);
}
